ul.biz_papers_lst {padding:0px;}
.biz_papers_lst{display:block;position:relative}
.biz_papers_lst > li{display:block}
.biz_papers_lst > li + li{margin-top:5px}
.biz_papers_lst strong{float:left;position:relative;width:200px;padding-left:10px;font-weight:700;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.biz_papers_lst strong:after{display:block;position:absolute;top:8px;left:0;width:3px;height:3px;background:#6c6d70;content:""}
.biz_papers_lst strong + .fileattach_lst{margin-left:205px}

.fileattach_lst{display:block;position:relative}
.fileattach_lst:after{clear:both;display:block;content:""}
.fileattach_lst [class*="file"]{float:left}
.fileattach_lst [class*="file"] > a{display:block}
.fileattach_lst [class*="file"] > a > img{float:left;margin:2px 5px 0 0}
.fileattach_lst .fileSize{margin:0 10px}
.fileattach_lst .btn_attach_del{display:block;width:19px;height:19px;background:url(/images/common/btn_filedel_icon.png) no-repeat;font-size:0;line-height:0}
.fileattach_lst a:hover,.iptForm .fileattach_lst a:active,.iptForm .fileattach_lst a:focus{color:#147860}
.biz_papers_lst + .fileForm{margin-top:10px}